div{height: 200px;
    width: 200px;
    background-color: blueviolet;
    display: inline-block;
    border: 5px solid black;
    padding: 8px;
    margin: 20px;}

#one {background-color: yellow;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
}
.box{
    background-color: burlywood;
}

.bd{
    border: 1px solid black;
    box-shadow: 5px 10px 10px;
}